@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

:root{
    --primary-color: white;
    --secondary-color: #ffc60a;
}

body{
    margin: 0rem;
    font-family: 'Knewave', cursive;
    background-image: url("./images/one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding: 0rem 0rem;
}
.container-center { 
    max-width: 500px;
    margin: auto;
    padding: 2rem 0rem;
}
.navigation,.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 3rem;
    font-size: 40px;
}
.nav-brand,.footer-brand {
    text-align: center;
}


.hero {
    padding: 2rem;
    padding-top: 5rem;

}
textarea{
    padding: 4rem;
    width: 60%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0px;
    font-size: large;
}
button{
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0px;
    font-size: large;
} 



